.sectionLeft {
    float: left;
    width: 70%;
    position: relative;
}
.sectionRight {
    float: right;
    width: 20%;
    margin-right:50px;
    margin-top: 50px; 
    position: relative; 
}
.scoreContainer {
    background-color: #a782c5;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 24px;
}

body {
    background-color: #e0bbff;
    /* Pastel purple */
    color: #333;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

#Main {
    height: 300px;
    position:relative; 
    transition: all .2s ease-in-out;
}
#Main:hover {  
    transform: scale(1.10);
}
#Main:active { 
    transform: scale(.99);
}

.center {
    text-align: center;
}
.shopButton { 
    background-color: #a782c5;
    transition: all .2s ease-in-out;
    border-radius: 10px; 
    width: 100%;
    margin: 10px 0px 10px 0px; 
}
.shopButton:hover { 
    background-color: #725987 ;
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}
.shopButton:active { 
    transform: scale(.99);
}
.shotButton #nameAndCost p { 
    margin: 0px; 
    width:60%; 
}
.shopButton #nameAndCost p:first-of-type { 
    font-size: 24px;
}

.shopButton #amount { 
    font-size: 48px; 
    
}
.smaller { 
    width: 50px; 
    height: auto; 
}
.unselectable { 
    user-select: none;
}

.sectionFooter { 
    margin-top:20%;
}