



body {
    background-color: #e0bbff; /* Pastel purple */
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 
 #score {
    font-size: 36px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS';
 }
 
 
 #Main {
    height:50%;
 }
 
 
 
 
 
 
 
 